*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    gap: 10px;
}
.navbar__box1__title{
    color: #A435F0;
}
.navbar__box2{
    padding: 10px;
    border: black solid 1px;
    border-radius: 31px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 13px;
}
.navbar__box2 input{
    border: none;
    width: 100%;
    font-size: 16px;

} 
.navbar__box2 input:focus{
    outline: none;
}
.navbar__box3{
    display: flex;
    align-items: center;
    gap: 15px;
}
.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px black solid;
}
.categories p {
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
}
.sale_img img{
    width: 100%;
}
.recommended{
    padding: 10px;
  
    
}
.recommended__box__card{
    width: 400px;
 
      
}
.recommended__box__card img{
    width: 100%;
    height: 70%;
 
}
.recommended__box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
}
.topic{
    padding: 10px;
    margin-top: 10px;
}
.topic__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}
.topic__container p{
    border: 2px solid gray;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.populer{
   padding: 10px;

}
.populer__container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
.footer{
    background-color: black;
    color: white;
    padding: 35px;
}
.footer__one{
    display: flex;
    gap: 50px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    margin-top: 25px;
}

.footer__one p{
    margin: 10px;
}

