* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    gap: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;

}

.navbar__box1__title {
    color: #A435F0;
}

.navbar__box2 {
    padding: 10px;
    border: black solid 1px;
    border-radius: 31px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 13px;
}

.navbar__box2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;

}

.navbar__box2 input:focus {
    outline: none;
}

.navbar__box3 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar__box4{
    display: none;
}

.mylearning{
    position: relative;
    cursor:pointer;
}

.mylearning__popup{
    position: absolute;
    right: 0px;
    top: 30px;
    border: 1px black solid;
    padding: 20px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    display: none;
}
.mylearning:hover .mylearning__popup{
   display: block;
}
.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px black solid;
}

.categories p {
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
     border: 1px solid #A435F0;

}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: #A435F0;
    border: 1px solid #A435F0;
}
.sale__img {
    position: relative;
}

.sale__img img {
    width: 100%;
}

.sale__img__offer {
    border: 1px black solid;
    padding: 2%;
    width: 20%;
    position: absolute;
    top: 20%;
    left: 11%;
    background-color: white;
    border-radius: 10px;
    transition: 2s;
    animation-name: zoom ;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
     
}
@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;

    }
    
}

.recommended {
    padding: 10px;


}

.recommended__box__card {
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.recommended__box__card img {
    width: 100%;
    height: 70%;

}

.recommended__box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
}

.topic {
    padding: 10px;
    margin-top: 10px;
}

.topic__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.topic__container p {
    border: 2px solid gray;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.populer {
    padding: 10px;

}

.populer__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}

.footer {
    background-color: black;
    color: white;
    padding: 35px;
}

.footer__one {
    display: flex;
    gap: 50px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    margin-top: 25px;
}

.footer__one p {
    margin: 10px;
}
 
/* Media Queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .recommended__box__card{
        flex-basis: 40%;
    }
       .sale__img__offer{
        width: 140px;
    }
    .mylearning__popup{
        width: 100px;
        padding: 10px;
    }
    .categories{
        display: none;
    }
    .navbar__box3{
        display: none;
    }
    .navbar__box2{
        display: none;
    }

    .navbar__box4{
        display: block;
    }
}



